.c-container {
    background-color: beige;
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
    max-width: 650px;
}
.save-button {
    text-align: center;
    padding: 10px;
}
.location-div {
    padding: 5%;
    text-align:center;
}
.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 80%;
    font-size: 17px;
  }
  .snackbarHeader {
      font-size: 17px;
  }
  .snackbarMessage {
      font-size:12px;
  }
  .snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
    animation: fadein 0.5s, fadeout 0.5s 3.5s;
  }

  .success {
      background-color: green;
  }
  .failure {
      background-color: red;
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 80%; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 80%; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 80%; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 80px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltipIcon {
    width: 50%;
    margin: 4px;
  }