.c-container {
    background-color: beige;
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
    max-width: 650px;
}
.save-button {
    padding: 10px;
}
.location-div {
    padding: 5%;
}
.infop {
    margin-top: 5px;
    font-size: 12px;
}
.intl-questions-header {
    padding: 2%;
    font-weight: bold;
}
.intl-questions-italic {
    font-style: italic;
}
.bordered {
    padding: 8px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8px;
    margin-bottom: 8px;
    border-style: solid;
    border-width: thin;    
}
.files-and-links {
    padding: 8px;
    margin-top: 10px;
    border-style: solid;
    border-width: thin;    
}
